

.project-page {
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(204, 204, 204);
    background-color: #1F1F1F;
    padding: 4rem 2rem;
}

.project-page p {
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    color: rgb(156, 156, 156);
}

.project-page li {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    margin-bottom: 8px;
}

.project-page ol {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}


.project-page h4 {
    line-height: 1.4;
    font-weight: 600;
    margin: 0;
    width: fit-content;
    font-size: 18px;
}

.project-page h5 {
    line-height: 1.4;
    font-weight: 600;
    margin: 0;
    margin-top: 0.3rem;
    width: fit-content;
    color: #A5A5A5;
    font-size: 18px;
}

.project-row {
    display: flex;
    flex-direction: row;

}
.project-col {
    display: flex;
    flex-direction: column;
}
  
.project-header .back-button {
    background: none;
    border: none;
    color: #ccc;
    font-size: 1rem;
    cursor: pointer;
}
  
.project-hero img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 0.8s ease-out forwards;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
.project-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 3rem;
}

.project-backstory h3 {
    font-size: 1.2rem;
    color: #A0A0A0;
    font-family: 'Geist', sans-serif;
    font-weight: 500;
    font-size: 20px;

    margin-right: 3rem;
    padding-left: 5rem;
}

.problem-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}
  
.problem-list-number {
    font-size: 46px;
    font-family: 'Pixelify Sans', sans-serif;
    margin-right: 12px;
    margin-bottom: -8px;
}
  
.project-backstory {
    background-color: #232323;
    padding: 5rem 4%;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}
  
  
.project-backstory p {
    color: #a2a2a2;
}
  
.project-backstory .highlight {
    font-style: italic;
    color: #fff;
    margin: 1.5rem 0;
}

.project-backstory-text {
    padding-right: 8rem;
}